@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="SCHeader">Dashboard</div>
<div class="container-fluid"></div>



    <div class="row">

    <div class="">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel-heading"><span class="fa fa-bar-chart">&nbsp;&nbsp;</span>Stock Value Summary</div>
                <div class="panel panel-default panel-success DashboardSummary">
                   
                    <div class="panel-body">
                       
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="panel-heading"><span class="fa fa-pie-chart">&nbsp;&nbsp;</span>Weekly Sales Summary</div>
                <div class="panel panel-default panel-success DashboardSummary">
                    
                    <div class="panel-body">
                       
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="panel-heading"><span class="fa fa-bell-o">&nbsp;&nbsp;</span>Re-Order Alert</div>
                <div class="panel panel-default panel-success DashboardSummary">
                  
                    <div class="panel-body">
                       
                    </div>
                     
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel-heading"><span class="fa fa-bookmark-o">&nbsp;&nbsp;</span>Dummy</div>
                <div class="panel panel-default panel-success DashboardSummary">
                   
                    <div class="panel-body">
                        
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="col-md-4"><div class="col-md-12">
                                  <div class="panel-heading"><span class="fa fa-user-o">&nbsp;&nbsp;</span>Technician Summary</div>
                                  <div class="panel panel-default panel-success DashboardTech">

                                      <div class="panel-body">

                                      </div>
                                  </div>
   

    </div>
</div>

    </div>
</div>
    
     
 

