
@using SCManager.UserInterface.Models;
@model IEnumerable<SystemReportViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    
    @Styles.Render("~/Content/UserCSS/Report")
}

<div class="container">
    <div class="row">
        <div>
            <h3> Reports </h3>
            <div class="list-group">
                @{
                    if (Model != null)
                    {
                        foreach (SystemReportViewModel svm in Model)
                        {
                            <div class="list-group-item">

                                <div class="col-md-10">
                                    <h4 class="list-group-item-heading"> @svm.ReportName </h4>
                                    <p class="list-group-item-text ListDesc">
                                        @svm.ReportDescription
                                    </p>
                                </div>
                                <div class="col-md-2 text-center">

                                    <a href="/@svm.Controller/@svm.Action" class="btn btn-link">View Report </a>


                                </div>
                            </div>
                        }

                    }

                }
              
             
             </div>
        </div>
    </div>
</div>

