@model SCManager.UserInterface.Models.TaxBillEntryViewModel


    <div id="divTaxBillDetails">
    <table border="0" style="width:100%;" >
        <tr style="border-bottom:2px;border-bottom-color:#000000;border-bottom-style:solid;">
            <td style= "width:50%;text-align:center; border-bottom: thin solid;">
                <span style="font-size:15px;font-weight:bold;">TAX BILL</span> 
              
            </td>
        </tr>
       
    </table>
    
   
        
        <div style="width:700px;height:15px;"></div>

        <div style="padding-left:600px;">
            <table border="0" style="width:100%;">
                <tr>
                    <td style="font-size:10px;">Bill No &nbsp;:&nbsp;<b><label id="lblBillNo"></label></b></td>

                </tr>
                <tr>
                    <td style="font-size:10px;">Bill Date &nbsp;:&nbsp;<b><label id="lblBillDate"></label></b></td>

                </tr>
            </table>
           </div>

        <div style="width:700px;height:10px;"></div>
        <div style="padding-left:100px;">
            <table border="0" style="width:100%;">
                <tr>
                    <td>
                        <div style="">
                            <table border="0">  
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr><td><b><label id="lblFrom" style="font-size:10px;">From</label></b></td></tr>                            
                                <tr>
                                    <td>
                                        <b><label id="FName" style="font-size:10px;">Name of Franchisee</label></b></td></tr>
                                       <tr><td style="font-size:9px;">&#40;Authorised Service Agent - IFB Industries Ltd &#41;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <b><label id="Address1" style="font-size:10px;">Address Line 1</label></b> 
                                    </td>
                                </tr>

                                <tr>
                                    <td><label style="font-size:10px;">E-mail:</label><b><label style="font-size:10px;" id="email"></label></b></td>
                                </tr>
                                <tr>
                                    <td><label style="font-size:10px;">Contact Nos:</label><b><label style="font-size:10px;" id="contactNo"></label></b></td>
                                </tr>
                                <tr>
                                    <td><label style="font-size:10px;">GSTIN:</label><b><label style="font-size:10px;" id="GSTIN"></label></b></td>
                                </tr>
                                <tr>
                                    <td><label style="font-size:10px;">PAN NO:</label><b><label style="font-size:10px;" id="panNo"></label></b></td>
                                </tr>
                                <tr>
                                    <td><label style="font-size:10px;">Place of Supply&#40;State Name & Code&#41;:</label><b><label style="font-size:10px;" id="placeOfSupply"></label></b></td>
                                </tr>
                            </table>
                        </div>
                    </td>


                    <td>
                        <div style="padding-right:200px;">
                            <table border="0">
                                @*<tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="font-size:12px;">Technician &nbsp;:&nbsp;<b><label id="lblTechnician"></label></b></td>

                                </tr>*@
                               
                               <tr><td><b><label id="lblTo" style="font-size:10px;">To</label></b></td></tr>
                               
                                 <tr>
                                    <td style="font-size:10px;">Customer Name &nbsp;:&nbsp;<b><label id="lblCustomerName"></label></b></td>

                                </tr>
                                <tr>
                                    <td style="font-size:10px;">Customer Contact &nbsp;:&nbsp;<b><label id="lblCustomerContact"></label></b></td>

                                </tr>
                                <tr>
                                    <td style="font-size:10px;">Customer Location &nbsp;:&nbsp;<b><label id="lblCustomerLocation"></label></b></td>
                                </tr>
                                <tr>
                                    <td style="font-size:10px;">Mode Of Payment&nbsp;:&nbsp;<b><label id="lblModeOfPayment"></label></b></td>

                                </tr>

                                <tr>
                                    <td style="font-size:10px;">Payment Reference No&nbsp;:&nbsp;<b><label id="lblPaymentReferenceNo"></label></b></td>
                                </tr>

                                <tr><td style="font-size:10px;">Remarks &nbsp;:&nbsp;<b><label id="lblRemarks"></label></b></td></tr>


                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <div id="customtbl" class="" style="padding-left:40px;"></div>
        <div style="padding-left:500px;">
            <br />
            <br />
            <table border="0" style="width:100%;">
                <tr>
                    <td style="font-size:12px">Sub ToTal &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblSubTotal"></label></b></td>
                </tr>
                <tr>
                    <td style="font-size:12px">Discount &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblDiscount"></label></b></td>
                </tr>

                <tr>
                    <td style="font-size:12px">Total &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblTotal"></label></b></td>
                </tr>
               
                <tr>
                    <td style="font-size:12px">CGST &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblCGST"></label>&nbsp;&nbsp;&nbsp;&nbsp;<label id="lblCGSTPercentage"></label></b></td>

                </tr>
                <tr>
                    <td style="font-size:12px">SGST  &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblSGST"></label>&nbsp;&nbsp;&nbsp;&nbsp;<label id="lblSGSTPercentage"></label></b></td>

                </tr>
                
                <tr>
                    <td style="font-size:12px">Service Charge &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblServiceCharge"></label></b></td>
                </tr>
                <tr>
                    <td style="font-size:12px">Grand Total &nbsp;:&nbsp;</td>
                    <td style="font-size:12px;text-align:right;"><b><label id="lblGrandtotal"></label></b></td>
                </tr>
            </table>
        </div>

    </div>
  