
@{
    ViewBag.Title = "_UnderConstruction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="underConstruction">this screen is under construction !</div>
<div class="underConstructionImg"></div>

