.SCHeader {
   font-size: 20px!important;
    color: rgba(60, 118, 61, 0.74);
    margin-bottom:2%;
    margin-left:1%;
    margin-top:0%;
    width:100%;
    
    
}

.DashboardSummary {
    
    background-color:rgba(253, 253, 253, 0.62);
    min-height:250px;
   /*max-height:300px;
   overflow-y:scroll;*/
}

.DashList {
     max-height:210px;
   overflow-y:scroll;
   
}

.TechList {
     
   overflow-y:scroll;
   
}

.DashboardTech {
    min-height:545px;
      background-color:rgba(253, 253, 253, 0.62);
}

 .SCtabContainer {

     margin-right: 2px!important; 
     margin-left: 2px!important; 
     width:100%;
     
   
}

 .myfooter {

      background-image: url('images/73a6f1c8.png');
    background-repeat: repeat;
    width:100%;
    bottom:0px;
    position:relative;
}

.graphledger {
    width:100%;
    text-align:right;
    font-size:smaller;
    color:gray;
    padding-right:15px;
}

.rlist {
    display:none;
}
.techitem {
    //display:none;
}

.dashpanelbody {
    padding:7px;;
}