.SCHeader {
   font-size: 20px!important;
    color: rgba(60, 118, 61, 0.74);
    margin-bottom:2%;
    margin-left:1%;
    margin-top:0%;
    width:100%;
    
    
}

.DashboardSummary {
    min-height:250px;
    background-color:rgb(253, 253, 253);
}

.DashboardTech {
    min-height:545px;
      background-color:rgb(253, 253, 253);
}

 .SCtabContainer {

     margin-right: 2px!important; 
     margin-left: 2px!important; 
     width:100%;
    
   
}

 .myfooter {

      background-image: url('images/73a6f1c8.png');
    background-repeat: repeat;
    width:100%;
    bottom:0px;
    position:relative;
}