/*h2   {color:white}*/
p    {color:white}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/Content/images/scmanagerback1.JPG');
    
    
    background-size: 100% 100%;
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    box-shadow:-10px 6px 8px rgba(0, 0, 0, 0.3)
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #LoginName,
.form-signin #Password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    /*background-color: rgb(104, 145, 162);
    / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    /*padding: 0px;*/
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.forgot-password {
    color: rgb(104, 145, 162);
}

.logfailed {
    color:red;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}


/*//------------------------------------ Login ----------------------------------------------*/
.login {
    background-color: #364150!important;
}
.login .logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}
.login .content {
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 200px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
}
.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
}
.login .content h4 {
    color: #555;
}
.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px;
}
.login .content .forget-form, .login .content .login-form {
    padding: 0;
    margin: 0;
}
.login .content .form-control {
    background-color: #dde3ec;
    height: 35px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    width:96%;
}
.login .content .form-control:active, .login .content .form-control:focus {
    border: 1px solid #c3ccda;
}
.login .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}
.login .content .form-control:-ms-input-placeholder {
    color: #8290a3;
}
.login .content .form-control::-webkit-input-placeholder {
    color: #8290a3;
}
.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}
.login .content .forget-form, .login .content .register-form {
    display: none;
}
.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}
.login .content .form-actions {
    clear: both;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}
.login .content .form-actions>.btn {
    margin-top: -2px;
}
.login-options {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa!important;
}
.login-options .social-icons {
    float: right;
    padding-top: 3px;
}
.login-options .social-icons li a {
    border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
}
.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}
.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.login .content .form-actions .btn {
    margin-top: 1px;
    font-weight: 600;
    padding: 10px 20px!important;
}

.login .content .forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 10px;
}
.login .content .check {
    color: #8290a3;
}
.login .content .rememberme {
    margin-left: 8px;
}
.login .content .create-account {
    margin: 0 -40px -30px;
    padding: 15px 0 17px;
    text-align: center;
    background-color: #6c7a8d;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
.login .content .create-account>p {
    margin: 0;
}
.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}
.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}
.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}
.button-login
{
    padding-top:10px;
}
#ForgorPassDiv
{
    margin-top:135px;
}
@media (max-width:440px) {
    .login .content, .login .logo {
    margin-top: 10px;
}
.login .content {
    width: 280px;
}
.login .content h3 {
    font-size: 22px;
}
.forget-password {
    display: inline-block;
    margin-top: 20px;
}
.login-options .social-icons {
    float: left;
    padding-top: 3px;
}
.login .checkbox {
    font-size: 13px;
}
}