.container{
    min-height:650px;
}

.list-group-item {
    /*! height:auto; */
    min-height:65px;
}
list-group-item.active small {
    color:#fff;
}

.list-group-item-heading
{
    margin-top: 5px;
}

